<!DOCTYPE html>
<html>
<head>
  <title>TreeSurfing</title>
  <%= favicon_link_tag 'tree_house.jpg' %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdUOQ1Fdq-E9sTIBTaR_oSsyFzST-jBII&libraries=places" type="text/javascript"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>
</html>
